.container{
    display: flex;
    flex-direction: column;
    width: min(90vw,320px);
    margin: 30px auto;
    position: relative;
}

.s-out-pic-container{
    position: absolute;
    width: 100%;
    top: -18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-out-pic-container div{
    width: 11%;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

.s-out-pic-container div img{
    z-index: -1;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
    }
}
.s-out-pic-container .addons-div{
    z-index: 3;
    margin-left: 45px;
}
.s-out-pic-container .addons-div .fa-shapes{
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}
.s-out-pic-container .addons-div:hover{
    background-color: #dfdcdc;
}