.container{
    display: flex;
    flex-direction: column;
    width: min(90vw,320px);
    margin: 30px auto;
    position: relative;
}

.s-out-pic-container{
    position: absolute;
    width: 100%;
    top: -18px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.s-out-pic-container div{
    width: 11%;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.s-out-pic-container div img{
    z-index: -1;
    border-radius: 50%;
}