
.side-bar a{
    text-decoration: none;
}

.side-bar{
    position: absolute;
    transition: 0.25s ease;
    background-color: whitesmoke;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    top: -20px;
    left: -30px;
    min-height: 97vh;
    box-shadow: 2px 0px 7px rgb(155, 148, 148);
}
.side-bar-items-div{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px 15px 1px;
    flex: 1;
}
.side-bar-items-div a{
    color: black;
}
.side-bar-items{
    display: flex;
    gap: 10px;
    width: 95%;
    padding: 8px;
    border-radius: 8px;
    color: rgb(53, 56, 58);
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 450;
}

.side-bar-items:hover{
    background-color: #d7d7d7;
}
.sidebar-folders-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    height: 28.5rem;
}

.side-bar-toggle{
    display: flex;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -15px;
}

.side-bar-toggle .fa-solid{
 font-size: 1.1rem;
}

hr{
    width: 100%;
    margin-top: 1px;
    border: none;
    border-top: 1.5px solid #616060;
    border-radius: 8px;
}

 .add-folders-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.folder-options-div{
    position: absolute;
    background-color: #f3f0f0;
    color: rgb(21, 18, 18);
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(168, 167, 167);
    z-index: 5;
}
.folder-options-div div{
    display: flex;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 13px;
    font-size: 1.1rem;
    font-weight: 450;
}
.folder-options-div div:hover{
    background-color: #d7d7d7;
}
::-webkit-scrollbar{
    width: 0.5px;
}
::-webkit-scrollbar:horizontal{
    display: none;
}

::-webkit-scrollbar-track{
    background: #d3d8da;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(70, 72, 73);
    border-radius: 10px;
}

.sidebar-user-div{
    z-index: 3;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    justify-content: space-around;
    gap: 10px;
    padding: 0 10px;
    border-radius: 10px;
}
.sidebar-user-div img{
    border-radius: 50%;
}
.sidebar-user-div p{
    font-size: 1.2rem;
    font-weight: 500;
}
.sidebar-user-div .p-div{
    flex: 1;
    margin-top: -2px;
}
.sidebar-user-div i{
    font-size: 1.3rem;
}
.sidebar-user-div:hover{
    background-color: #d7d7d7;
}