
.side-bar a{
    text-decoration: none;
}

.side-bar{
    position: absolute;
    min-height: 180px;
    transition: 0.25s ease;
    background-color: #1c2235e7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
    z-index: 3;
    top: -10px;
}
.side-bar-items{
    display: flex;
    gap: 5px;
    width: 95%;
    padding: 5px;
    border-radius: 8px;
    color: ghostwhite;
}

.side-bar-items:hover{
    background-color: #474d59;
}


.side-bar-toggle{
    display: flex;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -15px;
}

.side-bar-toggle .fa-solid{
 font-size: 1.1rem;
}

hr{
    width: 100%;
    margin-top: 1px;
    border: none;
    border-top: 1.5px solid #989797;
    border-radius: 8px;
}

 .add-folders-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}