.rename-container{
    width: 270px;
    height: 80px;
    padding: 25px;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 0%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    transition: .2s ease;
    box-shadow: 0px 5px 10px rgb(128, 126, 126);
    animation: slide 0.3s ease;
}
.rename-container p{
    font-size: 0.8rem;
    margin-top: -10px;
    font-weight: 600;
}
.rename-container input{
    border: 0;
    border-bottom: 1px solid black;
    font-family: inherit;
    color: black;
    background-color: inherit;
    font-size: 1.1rem;
    outline: none;
    text-align: left;
    margin-top: -3px;
    width: 90%;
}
.rename-container .rename-container-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin-left: 10px;
    position: relative;
    top: 42%;
    height: 1.5rem;
}
.rename-container button{
    font-family: inherit;
    background-color: inherit;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 10px;
    height: 100%;
    font-weight: 600;
}
.rename-container button:hover{
    background-color: rgb(225, 226, 226);
}
.rename-container .rename-input-div{
    width: 100%;
    display: flex;
}
.rename-container .input-len-indicator{
    flex: 1;
    font-size: 0.75rem;
    position: relative;
    left: 3px;
}