#input-field{
    color: #432000;
    background-color: #dce1eb;
    font-family: inherit;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }

#add-btn{
    color: #fdfdfd;
    background-color: #45c48b;
    font-family: inherit;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }