.set-folder-name-dialog{
    width: 270px;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 3%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    transition: .25s ease;
    box-shadow: 2px 2px 3px rgb(128, 126, 126);
    padding: 15px;
    gap: 5px;
    font-weight: 500;
}
.set-folder-name-dialog-input-div{
    width: 100%;
    display: flex;
    position: relative;
    top: -15px;
}
.set-folder-name-dialog p{
    font-size: 0.9rem;
    position: relative;
    top: -7px;
}
.set-folder-name-dialog input{
    border: 0;
    border-bottom: 1px solid black;
    font-family: inherit;
    color: black;
    background-color: inherit;
    font-size: 1rem;
    outline: none;
    text-align: left;
    width: 90%;
}
.set-folder-name-dialog-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin-left: -10px;
    height: 30px;
}
.set-folder-name-dialog-btn-wrapper button{
    font-family: inherit;
    background-color: inherit;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 10px;
    height: 100%;
    font-weight: 600;
}
.set-folder-name-dialog-btn-wrapper button:hover{
    background-color: rgb(225, 226, 226);
}
.folder-dialog-error-msg{
    color: red;
    overflow: hidden;
}
