.drop-down-container{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(135, 134, 134), -1px -1px 1px rgb(135, 134, 134);
    overflow: hidden;
    transition: 0.25s ease;
}
.dd-block-1{
    background-color: rgb(199, 215, 228);
    width: 100%;
    height: 20%;
    position: relative;
    border-radius: 2px;
    border-bottom: 2px solid white;
}
.dd-block-2{
    background-color: rgb(245, 245, 245);
    width: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    justify-content: space-evenly;
}
.dd-block-2 h4{
    font-size: 1rem;
    overflow: hidden;
}
.dd-block-2 p{
    font-size: 0.7rem;
    margin-top: -15px;
    overflow: hidden;
}
.profile-pic{
    position: absolute;
    bottom: -50%;
    width: 22%;
    left: 37.5%;
    height: 102%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid white;
}
.profile-pic img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.switch-acc{
    cursor: pointer;
    font-size: 0.9rem;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.switch-acc:active{
    background-color: rgb(218, 226, 233);
}
.dd-block-2 i{
    margin-right: 5px;
}
.sign-out-user{
    cursor: pointer;
    font-size: 0.9rem;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.sign-out-user:active{
    background-color: rgb(218, 226, 233);
}
