.item-exchange-div{
    width: 112%;
    margin-top: 50px;
    position: relative;
    left: -6%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.ied-intro-div{
    display: flex;
    gap: 8px;
    /* border: 1px solid; */
}
.ied-intro-div .img{
    justify-self: flex-start;
}
.ied-intro-div .greet{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid; */
}
.ied-intro-div .greet .span-1{
    color: rgb(56, 56, 56);
    font-size: 0.95rem;
    margin-left: -3px;
}
.ied-intro-div .greet .span-2{
    font-size: 1.4rem;
    text-overflow: ellipsis;
}
.ied-intro-div .avatar{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 23px;
}
.item-exchange-div .options{
    margin-top: auto;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.item-exchange-div .options .tile{
    border-radius: 3px;
    padding: 3px 3px 15px;
    text-align: center;
    width: 200px;
    font-size: 1.2rem;
    cursor: pointer;
}
.item-exchange-div .sent{
    background-color: #3b3a3a;
    color: ghostwhite;
    box-shadow: 2px 2px 2px #8b8989;
}

.item-exchange-div .received{
    background-color: #e3e0e0;
    box-shadow: 2px 2px 3px #c2c0c0;
}

.item-exchange-div .btn-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 50px;
    /* border: 1px solid; */
}

.item-exchange-div .add-receipents-btn{
    padding: 7px 23px;
    background-color: white;
   color: black;
   box-shadow: 1px 1px 1px black;
}
.item-exchange-div .remove-receipents-btn{
    padding: 7px 8px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px black;
}
.item-exchange-div .it-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    font-size: 1.1rem;
}
.it-btn:active{
    transform: translateY(1.5px);
    box-shadow: 0.5px 0.5px 0.5px black;
}
.item-exchange-div .people{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    overflow: auto;
    gap: 10px;
}
.item-exchange-div .people .nrp{
    font-size: 1.2rem;
}
.item-exchange-div .people .user-friends-div{
    padding:10px;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    gap: 5px;
}
.item-exchange-div .people .user-friends-div div{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 80px;
    span{
        font-size: 0.85rem;
    }
}

.item-exchange-div .circle-remove{
    position: absolute;
    top: 0;
    right: 5%;
    color: rgba(255, 0, 0, 0.66);
    animation: slide .2s ease;
    cursor: pointer;
} 