.folder-title-container{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.folder-title-container img{
    margin-top: 10px;
}
.folder-title-container p{
    text-align: center;
    font-size: 1.3rem;
    margin-top: -3px;
}
.folder-title-container .invoice-folder{
    padding-top: 15px;
    width: 120px;
    margin-bottom: 20px;
}