
.side-bar a{
    text-decoration: none;
}
.side-bar i{
    font-size: 1.3rem;
}
.side-bar{
    position: absolute;
    transition: 0.25s ease;
    background-color: whitesmoke;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    top: -20px;
    left: -30px;
    min-height: 97vh;
    box-shadow: 2px 0px 7px rgb(155, 148, 148);
}
.side-bar-items-div{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px 15px 1px;
    flex: 1;
}
.side-bar-items-div a{
    color: black;
}
.side-bar-items{
    display: flex;
    gap: 10px;
    width: 95%;
    padding: 8px;
    border-radius: 8px;
    color: rgb(53, 56, 58);
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 450;
}

.side-bar-items:hover{
    background-color: #d7d7d7;
}
.sidebar-folders-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    /* height: 400px; */
    border-radius: 8px;
    position: relative;
    /* border: 1px solid; */
    flex: 1;
}

.side-bar-toggle{
    display: flex;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -15px;
}

.side-bar-toggle .fa-solid{
 font-size: 1.1rem;
}

hr{
    width: 100%;
    margin-top: 1px;
    border: none;
    border-top: 1.5px solid #616060;
    border-radius: 8px;
}

 .add-folders-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.folder-options-div{
    position: absolute;
    background-color: #f3f0f0;
    color: rgb(55, 52, 52);
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(168, 167, 167);
    z-index: 5;
    animation: slide 0.2s ease;
}
.folder-options-div div{
    display: flex;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 13px;
    font-size: 1.1rem;
    font-weight: 450;
}
.folder-options-div div:hover{
    background-color: #d7d7d7;
}
::-webkit-scrollbar{
    width: 0.8px;
}
::-webkit-scrollbar:horizontal{
    display: none;
}

::-webkit-scrollbar-track{
    background: #d3d8da;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(70, 72, 73);
    border-radius: 10px;
}

.sidebar-user-div{
    z-index: 3;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    border-radius: 10px;
}

.sidebar-user-div .fa-folder{
    font-size: 1.8rem;
    padding: 13px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 36, 36);
}
.sidebar-user-div .fa-folder:hover{
    background-color: #d7d7d7;
    cursor: pointer;
}

.sidebar-user-div .fa-gear{
    position: absolute;
    font-size: 0.75rem;
    color: rgb(39, 36, 36);
    margin-top: 3px;
}
/* .sidebar-user-div .feature-picker{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 30px;
    gap: 10px;
    /* justify-content: center; */
/* } */
/* .feature-picker div{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    height: 100%;
}  */

