.delete-folder-dialog{
    background-color: whitesmoke;
    position: absolute;
    top: 30%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(128, 126, 126);
    transition: 0.45s ease;
    overflow: hidden;
    font-weight: 500;
    animation: slide 0.2s ease;
}
.delete-folder-dialog .btn-wrapper{
    display: flex;
    gap: 10px;
    height: 30px;
    justify-content: space-between;
}
.delete-folder-dialog .btn-wrapper button{
    font-family: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    height: 100%;
    font-weight: 600;
    border-radius: 3px;
    border: 0;
    text-align: center;
    padding: 17px 20px;
    display: flex;
    align-items: center;
}

.dfd-del{
    background-color: rgb(201, 26, 26);
    color: rgb(255, 255, 255);
}
.dfd-del:hover{
    background-color: rgb(199, 53, 53);
}
.dfd-cnl:hover{
    background-color: rgb(225, 226, 226);
}

.dfd-folder-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.dfd-folder-div .invoice-img{
    width: 55px;
    margin-bottom: 5px;
}
.dfd-folder-div p{
    position: relative;
    top: -10px;
    color: rgb(95, 94, 94);
}