.settings-div{
    position: relative;
    top: 15px;
    padding: 15px 20px;
    width: 104.5%;
    left: -28.5px;
}
.settings-img p{
    font-weight: 600;
}
.settings-div-user-img{
    display: flex;
    width: 110%;
    position: relative;
    left: -18px;
    gap: 10px;
}
.settings-div-user-img img{
    border-radius: 50%;
    margin-left: 10px;
    margin: auto 5px;
}
.settings-div-user-img p{
    font-size: 1.1rem;
    font-weight: 600;
}
.settings-div .settings-img{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
}
.settings-div .items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.settings-div  .items div{
    display: flex;
    gap: 1px;
    height: 50px;
    position: relative;
    top: -2px;
    padding: 2px 0px;
}
.settings-div .items div i{
    font-size: 1.3rem;
    margin:auto 15px auto 8px;
    color: rgb(93, 93, 93);
}
.settings-div .items div .inner-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.inner-block span{
    margin-top: -10px; 
    font-size: 0.9rem;
    color: rgb(93, 93, 93);
}
.inner-block p{
    font-weight: 550;
    color: rgb(56, 55, 55);
}
.clickable:hover{
    background-color: rgb(208, 208, 208);
}
.clickable{
    border-radius: 8px;
    width: 70%;
}
.account-div{
    position: relative;
    left: -13px;
    width: 109%;
}
.items .red:hover{
    background-color: rgb(255, 224, 224);
}

.settings-div .info-div{
    position: relative;
    left: -13px;
    width: 109%;
}
.settings-div .app-settings-div{
    position: relative;
    left: -13px;
    width: 109%;
    /* border: 1px solid; */
}
.gray-bg{
    &:hover{
    background-color: rgb(228, 228, 228);
    }
}
.app-settings-div select{
    min-width: 30%;
    margin: 0 auto;
    text-align: center;
    font-family: inherit;
    outline: none;
    height: 2rem;
    border-radius: 8px;
    background-color: inherit;
    font-weight: 500;
}
.app-settings-div select:active{
    background-color: rgb(228, 228, 228);
}