.folder-component-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.folder-component-ellipsis{
    position: absolute;
    left: 76.5%;
    top: -13.7px;
    padding: 5px;
    border-radius: 10px;
}
.folder-component-ellipsis .fa-ellipsis-vertical{
    font-size: 1.1rem;
}
.folder-component-ellipsis:hover{
    background-color:#ece2e2 ;
}