.split-dialog-div{
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 3px 6px rgb(160, 159, 159);
    z-index: 10;
    z-index: 10;
    top: 110px;
    position:absolute;
    animation: slide 0.2s ease;
    width: 250px;
}
.split-dialog-div input{
    width: 100%;
    font-family: inherit;
    background-color: inherit;
    font-size: 1rem;
    outline: none;
    border: 0;
}
.split-dialog-div fieldset{
    border: 2px solid;
    border-radius: 3px;
}
.split-dialog-div legend{
    font-size: 0.8rem;
}
.split-dialog-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 10px;
    top: 10px;
}
.split-dialog-btn-wrapper button{
    font-family: inherit;
    background-color: inherit;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 10px;
    height: 100%;
    font-weight: 500;
    padding: 5px;
    
}
.split-dialog-btn-wrapper button:hover{
    background-color: rgb(225, 226, 226);
}
.split-dialog-div button:disabled{
    color: gray;
}