.privacy-folder-div{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    gap: 10px;
}
.privacy-folder-div p{
    text-align: center;
    font-size: 1.2rem;
}
.privacy-folder-components{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 3px; */
}