.about-div{
    padding: 20px 10px;
    position: relative;
}
.about-div .description{
    font-size: 1rem;
    text-align: justify;
}
.about-div .dev-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    position: relative;
    img{
      border-radius: 20%;  
      transition: 0.25s ease;
    }
    .fa-square-github{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: rgb(65, 61, 61);

        &:hover{
            cursor: pointer;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}
.dev-info span{
    font-weight: 550;
    &:hover{
        text-decoration: underline;
    }
}
.about-div .powered-by{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        justify-content: space-around;
    }
    img{
      transition: 0.25s ease;
    }
    img:hover{
        scale: 1.1;
    }
}
.eyes{
    position: absolute;
    top: 198px;
    width: 31px;
    height: 0px;
    background-color: rgb(177, 176, 181);
    transition: height 0.3s ease-in-out;
}
.left{
    left: 114.8px;
}
.right{
    left: 174.8px;
}
.open{
    height: 30px;
}
@keyframes scaler-1{
    0%{scale: 1.15;}
    25%{scale: 1;}
    50%{scale: 1.15;}
    75%{scale: 1;}
    100%{scale: 1.15;}
}
@keyframes scaler-2{
    0%{scale: 1;}
    25%{scale: 1.15;}
    50%{scale: 1;}
    75%{scale: 1.15;}
    100%{scale: 1;}
}