.about-div{
    padding: 20px 10px;
    position: relative;
}
.about-div .description{
    font-size: 1.1rem;
    text-align: justify;
    font-family: "Kalam", cursive;
    color: rgb(111, 119, 119);
    font-weight: 500;
}
.about-div .dev-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    position: relative;
    img{
      border-radius: 20%;  
      transition: 0.25s ease;
    }
    .fa-square-github{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: rgb(65, 61, 61);

        &:hover{
            cursor: pointer;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}
.dev-info span{
    font-weight: 550;
    &:hover{
        text-decoration: underline;
    }
}
.about-div .powered-by{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        justify-content: space-around;
    }
    img{
      transition: 0.25s ease;
    }
    img:hover{
        scale: 1.1;
    }
}