.invoice-list-component{
    padding: 1px;
    width: 92%;
}
.invoice-list-component .tiles ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}
.invoice-list-component .tiles ul li{
     font-size: 20px;
     background-color: #fffdf8;
     box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
     border-radius: 8px;
     text-align: center;
     color: #432000;
     position: relative;
     transition:  0.25s ease;
     word-wrap: break-word;
     word-break:break-word;
     flex-grow: 1;
     display: flex;
     padding: 13px 10px;
     justify-content: space-between;
}
.invoice-list-component .tiles ul li .price-div{
     font-size: 0.85rem;
     display: flex;
     align-items: flex-end;
}