html,body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img{
  margin: 0 auto;
}

button:hover{
  background-color: #6dd5a6;
  cursor: pointer;
}

.content-loader{
  /* border: 1px solid; */
}

.overlaying{
  position: fixed;
  width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.237);
    display: flex;
    justify-content: center;
    z-index: 3;
}

@keyframes slide{
  from{
      transform: translateY(-10px);
  }
  to{
      transform: translateY(0px);
  }
}