html,body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img{
  margin: 0 auto;
}

button:hover{
  background-color: #6dd5a6;
  cursor: pointer;
}

.content-loader{
  /* border: 1px solid; */
}

.overlaying{
  position: fixed;
  width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.237);
    display: flex;
    justify-content: center;
    z-index: 3;
}
.overlaying-toast{
  position: fixed;
  width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}

@keyframes slide{
  from{
      transform: translateY(-10px);
  }
  to{
      transform: translateY(0px);
  }
}
.toast-styles{
  position: fixed;
  border-radius: 12px;
  padding: 10px;
  font-size: 1rem;
  top: 12px;
  z-index: 50;
  min-width: 310px;
  max-width: 310px;
  text-align: center;
  /* background: rgba(192, 141, 251, 0.182); */
  background: rgba(152, 148, 148, 0.182);
  backdrop-filter: blur(30px);         
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* color: rgb(124, 60, 208); */
  color: rgb(127, 127, 127);
}