.delete-folder-dialog{
    background-color: whitesmoke;
    position: absolute;
    top: 35rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(128, 126, 126);
    transition: 0.45s ease;
    overflow: hidden;
    font-weight: 500;
    animation: slide 0.2s ease;
}
.delete-folder-dialog span{
    color: rgb(19, 194, 89);
}

.delete-folder-dialog .btn-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 30px;
}
.delete-folder-dialog .btn-wrapper button{
    font-family: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    height: 100%;
    font-weight: 600;
    border-radius: 15px;
    border: 0;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
}

.dfd-del{
    background-color: rgb(201, 26, 26);
    color: rgb(255, 255, 255);
}
.dfd-del:hover{
    background-color: rgb(199, 53, 53);
}
.dfd-cnl:hover{
    background-color: rgb(225, 226, 226);
}