.dialpad-div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.dialpad-div .incorrect-span{
    position: absolute;
    top: -13px;
    left: 0px;
    animation: slide 0.3s ease;
    width: 100%;
    text-align: center;
}
.dialpad{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
.dialpad div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.dialpad div span, .fa-del{
    font-size: 1.5rem;
}
.fa-del{
    font-size: 1.9rem;
}
.dialpad div:active{
    scale: 0.8;
}
.dialpad-div input{
    text-align: center;
    height: 30px;
    border-radius: 8px;
    font-size: 1.3rem;
    letter-spacing:10px;
    border: none;
    outline: none;
}