.auth-container{
    padding: 20px;
    /* border: 3px solid; */
    width: min(80vw,300px);
    margin: 30px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
.fa-keycdn{
    margin-right: 5px;
}
.auth-container p{
    font-size: 1rem;
    text-wrap: nowrap;
    font-weight: 500;
}
.ggl-pop-up-btn{
    display: flex;
    gap: 10px;
    background-color: rgb(48, 137, 200);
}
.ggl-pop-up-btn:hover{
    background-color: rgb(48, 137, 200);
    filter: brightness(110%);
}